In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
df=pd.read_csv('fuel_price.csv')
df.describe()

           Price        High   ...  Unnamed: 13  Unnamed: 14
count  697.000000  697.000000  ...          0.0          0.0
mean   326.181492  361.479914  ...          NaN          NaN
std     76.266517   71.728798  ...          NaN          NaN
min    155.500000  197.000000  ...          NaN          NaN
25%    278.000000  317.500000  ...          NaN          NaN
50%    324.500000  364.500000  ...          NaN          NaN
75%    383.000000  402.000000  ...          NaN          NaN
max    587.500000  615.000000  ...          NaN          NaN

[8 rows x 10 columns]

Dropping the unnecessary columns

In [7]:
df=df.drop(['Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14'],axis=1)

In [8]:
df.describe()

           Price        High         Low      Spread
count  697.000000  697.000000  697.000000  697.000000
mean   326.181492  361.479914  308.558824   52.718795
std     76.266517   71.728798   79.194341   17.704953
min    155.500000  197.000000  130.000000    6.000000
25%    278.000000  317.500000  257.500000   53.000000
50%    324.500000  364.500000  304.500000   60.000000
75%    383.000000  402.000000  373.000000   60.000000
max    587.500000  615.000000  532.000000  112.000000